<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Projeto Crud</title>
</head>

<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa excepturi quo recusandae voluptatibus consequuntur ipsam quas architecto pariatur vel. Neque tempora consectetur illum esse laborum doloremque maxime obcaecati nobis asperiores?</p>

    <script src="js/main.js"></script>
</body>

</html>