<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs') %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa excepturi quo recusandae voluptatibus consequuntur ipsam quas architecto pariatur vel. Neque tempora consectetur illum esse laborum doloremque maxime obcaecati nobis asperiores?</p>

        <%- include('partials/foot.ejs' )%>
    </body>

</html>